.first-child {
    display: flex;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
}

.data {
    display: flex;
    margin-top: 3em;
    justify-content: center;
    align-items: center;
}